@charset "UTF-8";
@font-face {
  font-family: 'din';
  src: url("../fonts/dinregular-webfont.woff2") format("woff2"), url("../fonts/dinregular-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'thirsty_script_extrabold_deRg';
  src: url("../fonts/thirstyscriptextrabolddemo-webfont.woff2") format("woff2"), url("thirstyscriptextrabolddemo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ul에 원초적으로 존재하는 margin, padding값을 초기화해 준 후 `text-align: center`를 사용하면 중간정렬이 된다. */
.hidden-content {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.show-grid {
  position: relative;
  display: block;
}

.show-grid::before {
  content: '';
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(191, 64, 64, 0.2) 90%, transparent 10%), linear-gradient(transparent 26px, #003652 26px);
  background-size: 25% 1px, 1px 27px;
}

a {
  display: inline-block;
}

a:focus,
button:focus,
input:focus,
label:focus {
  outline: none;
  outline-offset: 0.3em;
  box-shadow: 0 0 0 4px rgba(218, 143, 22, 0.7);
}

.navigation-heading {
  width: 1px;
  height: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.main-heading {
  width: 1px;
  height: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.starting-container {
  width: 1px;
  height: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.header {
  display: inline-block;
}

.header .logo-mobile-heading {
  width: 1px;
  height: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.header .logo-link {
  display: inline-block;
  padding: 0 10px;
  margin-left: 4px;
}

.header .logo-link img {
  display: block;
  width: 75px;
  height: 75px;
}

.bar-menu {
  position: absolute;
  top: 0;
  right: 0;
  color: #AF1D28;
  width: 80px;
  height: 80px;
  border: 1px solid #efefef;
  box-sizing: border-box;
  background: url("../images/bars.svg") no-repeat;
  background-size: 22px;
  background-position: center center;
}

.navigation-bar {
  position: absolute;
  left: 0;
  z-index: 1;
  background: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
}

.navigation-bar .gnb {
  padding-top: 55px;
}

.navigation-bar .gnb li {
  display: list-item;
  list-style: none;
  font-family: 'Cabin Sketch', cursive;
  font-size: 22px;
  padding-bottom: 25px;
}

.navigation-bar .gnb li a:hover {
  color: #b23e3e;
  border-bottom: 2px solid #b23e3e;
}

.navigation-bar::before {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  width: 100%;
  height: 1px;
  background: #efefef;
}

.main-container {
  position: relative;
  top: 0;
  left: 0;
}

.bg-video-container {
  overflow: hidden;
}

.bg-video-container video {
  width: 100%;
  height: 376px;
  object-fit: cover;
  z-index: -1;
}

.main-title {
  width: 188px;
  position: absolute;
  top: 100px;
  left: 20px;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.main-title .main-txt {
  font-family: 'Francois One', sans-serif;
  font-size: 2.3rem;
  line-height: 1;
  color: #fff;
}

.main-title .button-container {
  display: block;
  width: 43px;
  height: 43px;
  border: 3px solid #AA1C27;
  border-radius: 50%;
  margin-top: 48px;
}

.main-title .button-container .button-down {
  width: 43px;
  height: 43px;
  background: #fff;
  -webkit-mask: url("../images/arrow.svg") no-repeat 50% 50%;
  transition: all .4s ease-out;
}

.main-title .button-container .ho:hover {
  background: #AA1C27;
}

.next-event {
  text-transform: uppercase;
  background: url("../images/grunge.jpg");
  height: 274px;
  margin-top: -5px;
  color: #fff;
  border: 3px solid transparent;
  box-sizing: border-box;
  z-index: 0;
}

.next-event p {
  font-family: 'din';
  font-size: 0.7rem;
  color: #B4252E;
  margin-left: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.next-event p:first-child {
  margin-top: 35px;
  margin-bottom: 0;
}

.next-event p:nth-child(2), .next-event p:nth-child(3) {
  display: inline-block;
  margin-top: 30px;
  margin-right: 22%;
}

.next-event span {
  font-family: 'Cabin Sketch', cursive;
  color: #fff;
  font-size: 1rem;
}

.next-event .btn_wrapper {
  display: inline-block;
}

.next-event .btn_wrapper .btn_learn {
  text-transform: uppercase;
  height: 54px;
  display: inline-block;
  border: none;
  font-family: 'din';
  font-size: 0.8rem;
  text-align: center;
  font-weight: 900;
  box-sizing: border-box;
  padding-top: 20px;
  cursor: pointer;
  width: 132px;
  background: #fff;
  color: #000;
  margin-top: 20px;
  margin-left: 15px;
}

.next-event .btn_wrapper .btn_ticket {
  text-transform: uppercase;
  height: 54px;
  display: inline-block;
  border: none;
  font-family: 'din';
  font-size: 0.8rem;
  text-align: center;
  font-weight: 900;
  box-sizing: border-box;
  padding-top: 20px;
  cursor: pointer;
  width: 132px;
  background: #B72C34;
  color: #fff;
  margin-left: 15px;
}

.celebrate-container {
  line-height: 1.2;
}

.celebrate-container .txt-celebrate {
  margin: 0 auto;
  width: 100%;
  height: 295px;
  background: url("../images/noise.png");
  padding-top: 54px;
}

.celebrate-container .txt-celebrate .txt-wrapper {
  margin: 0 auto;
  width: 90%;
}

.celebrate-container .txt-celebrate .txt-wrapper h2 {
  font-size: 1.2rem;
  font-family: 'thirsty_script_extrabold_deRg';
  color: #B21E29;
}

.celebrate-container .txt-celebrate .txt-wrapper p {
  font-family: 'Francois One', sans-serif;
  font-size: 1.3rem;
  margin-top: 29px;
}

.container-join .img-join-members {
  width: 100%;
  height: 284.5px;
  background: url("../images/Tosco-Membership_callout.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-join .join-member {
  margin: 0 auto;
  width: 90%;
  padding-top: 50px;
}

.container-join .join-member .join-member-heading {
  font-family: 'Cabin Sketch', cursive;
  font-size: 2.5rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

.container-join .join-member .join-txt {
  font-family: din, sans-serif;
  line-height: 1.5;
  font-size: 0.9rem;
  color: #555;
  padding-top: 38px;
}

.container-join .join-member .join-button {
  text-transform: uppercase;
  height: 54px;
  display: inline-block;
  border: none;
  font-family: 'din';
  font-size: 0.8rem;
  text-align: center;
  font-weight: 900;
  box-sizing: border-box;
  padding-top: 20px;
  cursor: pointer;
  width: 132px;
  background: #B72C34;
  color: #fff;
  margin-top: 31px;
}

.past-container {
  background: url(../images/mask-image.png);
  background-color: #181818;
  background-size: cover;
  margin-top: 54px;
}

.past-container .past-performers {
  position: relative;
  background: url(../images/singer.jpg) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  height: 891px;
}

.past-container .past-performers .past-heading {
  width: 1px;
  height: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.past-container .past-performers .past-performers-txt-wrapper {
  margin: 0 auto;
  width: 90%;
  padding-top: 34px;
}

.past-container .past-performers .past-performers-txt-wrapper .past-performers-heading {
  font-family: 'Cabin Sketch', cursive;
  font-size: 2.5rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  font-weight: 400;
  color: #fff;
}

.past-container .past-performers .past-performers-txt-wrapper p {
  font-family: din, sans-serif;
  line-height: 1.5;
  font-size: 0.9rem;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 35px;
}

.past-container .past-performers .past-performers-txt-wrapper a {
  text-transform: uppercase;
  height: 54px;
  display: inline-block;
  border: none;
  font-family: 'din';
  font-size: 0.8rem;
  text-align: center;
  font-weight: 900;
  box-sizing: border-box;
  padding-top: 20px;
  cursor: pointer;
  width: 132px;
  background: #B72C34;
  color: #fff;
}

.carousel-container {
  position: relative;
  width: 300px;
  height: 440px;
  overflow: hidden;
  outline: 1px solid #292929;
  margin: 54px auto 0;
}

.carousel-container .carousel-heading {
  width: 1px;
  height: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.carousel-container .carousel-view article {
  display: inline-block;
  text-align: center;
  position: relative;
  float: left;
}

.carousel-container .carousel-view article img {
  display: block;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 27px auto;
}

.carousel-container .carousel-view article h2 {
  text-transform: uppercase;
  font-size: .9rem;
  color: #B21E29;
  font-family: 'Cabin Sketch', cursive;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-container .carousel-view article p {
  font-family: din, sans-serif;
  line-height: 1.5;
  font-size: 0.9rem;
  color: #fff;
  font-size: 0.8rem;
  padding-top: 42px;
  width: 78%;
  margin: 0 auto;
}

.carousel-controls .carousel-navigator {
  display: inline-block;
  position: absolute;
  top: 90.5%;
  left: 50%;
}

.carousel-controls .carousel-navigator button {
  width: 1px;
  height: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 48px;
  height: 48px;
  border: 3px solid #AA1C27;
  border-radius: 50%;
  z-index: 1000;
  cursor: pointer;
  background: transparent;
  padding: 0;
}

.carousel-controls .carousel-navigator button::before {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: all .4s ease-out;
}

.carousel-controls .carousel-navigator .carousel-previous-btn {
  right: 10px;
}

.carousel-controls .carousel-navigator .carousel-previous-btn::before {
  left: 53%;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.carousel-controls .carousel-navigator .carousel-previous-btn:hover::before {
  border-top: 2px solid #AA1C27;
  border-left: 2px solid #AA1C27;
}

.carousel-controls .carousel-navigator .carousel-next-btn::before {
  left: 47%;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.carousel-controls .carousel-navigator .carousel-next-btn:hover::before {
  border-right: 2px solid #AA1C27;
  border-bottom: 2px solid #AA1C27;
}

.news-container {
  background: url("../images/noise.png");
  height: 689px;
}

.news-container .news-information {
  margin: 0 auto;
  width: 90%;
}

.news-container .news-information .news-heading {
  font-family: 'Cabin Sketch', cursive;
  font-size: 2.5rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  font-weight: 400;
  color: #000;
  padding-top: 52px;
}

.news-container .news-information .view-info {
  text-transform: uppercase;
  font-family: din;
  font-size: .8rem;
  color: #B21E29;
  font-weight: 800;
  padding-top: 22px;
  padding-bottom: 7px;
}

.news-container .news-information [class^="info-"] {
  margin-top: 27px;
  width: 100%;
}

.news-container .news-information article {
  position: relative;
  height: 135px;
  background: #fff;
  padding: 0 25px;
}

.news-container .news-information img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 15px;
}

.news-container .news-information h2.info-headline {
  text-transform: uppercase;
  font-size: .9rem;
  color: #B21E29;
  font-family: 'Cabin Sketch', cursive;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 138px;
  width: 50%;
}

.news-container .news-information p {
  text-transform: uppercase;
  font-family: 'din';
  font-size: 0.6rem;
  color: #777;
  font-weight: 800;
  display: inline-block;
  position: absolute;
  top: 67%;
  right: 17px;
}

.subscribe-container {
  -webkit-mask-image: url("../images/mask-short.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: center top;
  background-color: #B21E29;
  height: 324px;
}

.subscribe-container .subscribe {
  margin: 0 auto;
  width: 90%;
}

.subscribe-container .subscribe h2 {
  font-size: 1.2rem;
  font-family: 'thirsty_script_extrabold_deRg';
  color: #fff;
  font-weight: 200;
  padding-top: 38px;
}

.subscribe-container .subscribe p {
  text-transform: uppercase;
  font-family: 'Francois One', sans-serif;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  margin-top: 16px;
  margin-bottom: 27px;
}

.subscribe-container .input-subscribe {
  margin: 0 auto;
  width: 90%;
}

.subscribe-container .input-subscribe .inputbox input {
  width: 100%;
  height: 54px;
  padding: 0 20px;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  background-color: #fff;
}

.subscribe-container .input-subscribe .btn-subscribe {
  text-transform: uppercase;
  height: 54px;
  display: inline-block;
  border: none;
  font-family: 'din';
  font-size: 0.8rem;
  text-align: center;
  font-weight: 900;
  box-sizing: border-box;
  padding-top: 20px;
  cursor: pointer;
  background: #5F0209;
  -webkit-mask-image: none;
  color: #fff;
  width: 100%;
  margin-top: 15px;
  text-align: left;
  padding: 0 24px;
  position: relative;
}

.subscribe-container .input-subscribe .btn-subscribe:active {
  postion: absolute;
  top: 2px;
}

.subscribe-container .input-subscribe .btn-subscribe:after {
  content: '';
  display: block;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 12px;
  height: 12px;
  transform: rotate(-45deg);
  position: absolute;
  left: 93%;
  top: 20px;
}

/* input placehoder 속성 설정 */
::-webkit-input-placeholder {
  color: #A9A9A9;
  font-size: 0.9rem;
}

:-moz-placeholder {
  color: #A9A9A9;
  opacity: 1;
  font-size: 0.9rem;
}

::-moz-placeholder {
  color: #A9A9A9;
  opacity: 1;
  font-size: 0.9rem;
}

:-ms-input-placeholder {
  color: #A9A9A9;
  font-size: 0.9rem;
}

.footer {
  height: 108px;
  -webkit-mask-image: url("../images/mask-short.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.footer h2 {
  width: 1px;
  height: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.footer a, .footer p {
  color: #fff;
  font-family: din, sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.7px;
}

.footer a {
  margin-right: 20px;
  margin-top: 27px;
}

.footer p {
  margin-top: 15px;
}

@media all and (min-width: 768px) {
  .bg-video-container video {
    width: auto;
    height: 100%;
    transform: translateX(-15%);
  }
  .main-title {
    top: 256px;
    width: 450px;
    left: 40px;
  }
  .main-title .main-txt {
    font-size: 4.1rem;
  }
  .main-title .button-container {
    margin-top: 91px;
  }
  .next-event {
    position: absolute;
    top: 14.8%;
    width: 95%;
    height: 216px;
  }
  .next-event p {
    height: 72%;
    border-right: 1px solid #292929;
    float: left;
    padding: 52px 13px 0 16px;
  }
  .next-event p span {
    display: block;
    margin-top: 11px;
    line-height: 1.2;
  }
  .next-event p:first-child {
    width: 20.91667%;
    margin: 0;
    padding-left: 40px;
  }
  .next-event p:nth-child(2), .next-event p:nth-child(3) {
    width: 12.66667%;
    margin: 0;
  }
  .next-event .btn_wrapper {
    margin-left: 5px;
  }
  .next-event .btn_wrapper .btn_learn {
    width: 168px;
    height: 60px;
    display: block;
    margin-top: 53px;
    margin-left: 14px;
    margin-right: 57px;
    margin-bottom: 16px;
  }
  .next-event .btn_wrapper .btn_ticket {
    width: 168px;
    height: 60px;
    display: block;
  }
  .celebrate-container {
    padding: 0;
    margin-top: 141px;
  }
  .celebrate-container .txt-celebrate {
    width: 85%;
    padding: 96px 0 176px 10px;
    margin: 0;
    height: 331px;
  }
  .celebrate-container .txt-celebrate .txt-wrapper {
    width: 95%;
  }
  .celebrate-container .txt-celebrate .txt-wrapper p {
    margin-top: 30px;
    font-size: 1.9rem;
    line-height: 1.6;
  }
  .container-join {
    margin-top: -62px;
  }
  .container-join .img-join-members {
    display: inline-block;
    width: 50%;
    height: 621px;
    background: url("../images/Tosco-Membership_callout.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask-image: url("../images/mask-image.png");
  }
  .container-join .join-member {
    display: inline-block;
    width: 33%;
    position: absolute;
    top: 34.4%;
    right: 10%;
  }
  .container-join .join-member .join-member-heading {
    font-size: 3.5rem;
  }
  .container-join .join-member .join-txt {
    font-size: 1rem;
    padding-top: 27px;
  }
  .container-join .join-member .join-button {
    width: 168px;
    height: 60px;
  }
  .performers-bg {
    position: relative;
  }
  .performers-bg::before {
    position: absolute;
    top: 156px;
    content: '';
    width: 100%;
    height: 128vh;
    background: url("../images/noise.png");
  }
  .past-container {
    width: 90%;
    margin-left: 10%;
    margin-top: 75px;
  }
  .past-container .past-performers {
    height: 783px;
  }
  .past-container .past-performers .past-performers-txt-wrapper {
    display: inline-block;
    position: relative;
    top: -60px;
    width: 30%;
    padding-top: 216px;
    padding-left: 49px;
    padding-right: 115px;
  }
  .past-container .past-performers .past-performers-txt-wrapper .past-performers-heading {
    font-size: 3.2rem;
  }
  .past-container .carousel-wrapper {
    display: inline-block;
    position: absolute;
    right: 100px;
  }
  .past-container .carousel-wrapper .carousel-container {
    display: inline-block;
    height: 540px;
  }
  .past-container .carousel-wrapper .carousel-container .carousel-view h2 {
    font-size: 1.8rem;
    line-height: 1;
    top: 242px;
  }
  .past-container .carousel-wrapper .carousel-container .carousel-view img {
    margin: 54px auto;
  }
  .past-container .carousel-wrapper .carousel-container .carousel-view p {
    width: 66%;
  }
  .carousel-controls {
    display: inline-block;
    position: absolute;
    top: 68%;
    left: 50%;
  }
  .carousel-controls .carousel-navigator {
    position: relative;
    top: 187px;
  }
  .news-container {
    position: relative;
    height: 1162px;
    padding-top: 80px;
  }
  .news-container .news-information {
    text-align: center;
  }
  .news-container .news-information .news-heading {
    font-size: 3rem;
    padding-top: 55px;
  }
  .news-container .news-information .view-info {
    position: absolute;
    top: 131px;
    right: 55px;
  }
  .news-container .news-information [class^='info-'] {
    text-align: center;
    width: 48.57143%;
    float: left;
  }
  .news-container .news-information [class^='info-'] article {
    height: 420px;
    padding: 49px 32px;
    box-sizing: border-box;
  }
  .news-container .news-information [class^='info-'] article h2 {
    font-size: 1.5rem;
    width: 68%;
    top: 218px;
    left: 54px;
  }
  .news-container .news-information [class^='info-'] article img {
    width: 170px;
    height: 170px;
    margin-top: 0;
  }
  .news-container .news-information [class^='info-'] article p {
    top: 88.5%;
    font-size: 0.8rem;
    font-weight: 900;
    right: 51px;
  }
  .news-container .news-information .info-toscomusic {
    margin-right: 10px;
  }
  .news-container .news-information .info-schedule {
    margin-left: 5px;
    box-sizing: border-box;
  }
  .subscribe-container {
    position: relative;
    width: 95%;
    height: 216px;
    margin: 54px 5%;
    box-sizing: border-box;
    padding: 23px 40px;
  }
  .subscribe-container .subscribe {
    width: 28%;
    display: inline-block;
  }
  .subscribe-container .input-subscribe {
    width: 65%;
    display: inline-block;
    margin-left: 20px;
    position: absolute;
    top: 54px;
  }
  .footer {
    height: 81px;
  }
  .footer a {
    font-size: .8rem;
  }
  .footer p {
    display: inline-block;
    padding-left: 94px;
    font-size: .8rem;
  }
}

@media all and (min-width: 992px) {
  .bar-menu {
    display: none;
  }
  .navigation-bar {
    display: block;
  }
  .header {
    position: fixed;
    width: 240px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: #fff;
    text-align: center;
    border-right: 1px solid #efefef;
  }
  .header .logo-desktop {
    border-bottom: 1px solid #efefef;
  }
  .header .logo-link {
    padding: 24px 24px;
    opacity: 1;
    transition: transform 1s, opacity 1s;
  }
  .header .logo-link img {
    width: 167px;
    height: 167px;
  }
  .header .logo-link:hover {
    opacity: 0.6;
    transform: rotate(360deg);
  }
  .main-container {
    width: 81%;
    left: 18.9%;
    display: inline-block;
    width: 81%;
  }
  .bg-video-container .bg-video {
    width: 100%;
    height: 110vh;
    transform: none;
    float: right;
  }
  .main-title {
    left: 100px;
  }
  .main-title .main-txt {
    font-size: 5.1rem;
  }
  .main-title .button-container {
    margin-top: 104px;
  }
  .next-event {
    top: 13.6%;
  }
  .next-event p:first-child {
    padding-left: 100px;
    width: 19.91667%;
  }
  .next-event p:nth-child(2), .next-event p:nth-child(3) {
    width: 11.667%;
  }
  .celebrate-container {
    margin-top: 130px;
  }
  .celebrate-container .txt-celebrate {
    width: 58%;
    padding: 96px 135px 243px 137px;
  }
  .celebrate-container .txt-celebrate .txt-wrapper h2 {
    margin-top: 28px;
  }
  .celebrate-container .txt-celebrate .txt-wrapper p {
    font-size: 1.9rem;
    margin-top: 14px;
  }
  .container-join {
    margin-top: -40px;
  }
  .container-join .join-member {
    top: 35.5%;
  }
  .past-container .past-performers .past-performers-txt-wrapper {
    width: 23.7%;
    padding-left: 104px;
  }
  .past-container .past-performers .past-performers-txt-wrapper p {
    line-height: 1.8;
    margin-bottom: 21px;
  }
  .past-container .past-performers .past-performers-txt-wrapper a {
    width: 168px;
    height: 60px;
  }
  .news-container .news-information {
    width: 79%;
    margin-left: 13%;
  }
  .news-container .news-information .view-info {
    top: 128px;
    right: 128px;
  }
  .news-container .news-information .news-heading {
    padding-bottom: 31px;
  }
  .news-container .news-information [class^='info-'] {
    width: 44.57143%;
  }
  .news-container .news-information [class^='info-'] article h2 {
    width: 70%;
    line-height: 1;
  }
  .news-container .news-information .info-toscomusic {
    margin-right: 10px;
    margin-left: 25px;
  }
  .news-container .news-information .info-charlottefive {
    margin-left: 25px;
  }
  .subscribe-container {
    width: 89%;
    margin: 54px 11%;
    height: 243px;
  }
  .subscribe-container .subscribe {
    width: 28%;
  }
  .subscribe-container .subscribe h2 {
    padding-top: 27px;
  }
  .subscribe-container .input-subscribe {
    top: 62px;
  }
  .subscribe-container .input-subscribe .inputbox input {
    width: 400px;
    margin-right: 20px;
  }
  .subscribe-container .input-subscribe .btn-subscribe {
    width: 400px;
  }
  .subscribe-container .input-subscribe .btn-subscribe::after {
    left: 89%;
  }
  .footer {
    position: absolute;
    width: 81%;
    left: 18.9%;
    width: 79%;
    left: 21.5%;
  }
  .footer p {
    padding-left: 22.9px;
  }
}

@media all and (min-width: 1200px) {
  .bar-menu {
    display: none;
  }
  .navigation-bar {
    display: block;
  }
  .header {
    position: fixed;
    width: 240px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: #fff;
    text-align: center;
    border-right: 1px solid #efefef;
  }
  .header .logo-desktop {
    border-bottom: 1px solid #efefef;
  }
  .header .logo-link {
    padding: 24px 24px;
    opacity: 1;
    transition: transform 1s, opacity 1s;
  }
  .header .logo-link img {
    width: 167px;
    height: 167px;
  }
  .header .logo-link:hover {
    opacity: 0.6;
    transform: rotate(360deg);
  }
  .main-container {
    left: 16.3%;
    width: 84%;
  }
  .main-title {
    left: 100px;
  }
  .main-title .button-container {
    margin-top: 104px;
  }
  .next-event {
    top: 16.3%;
    height: 190px;
  }
  .next-event p:first-child {
    padding-left: 100px;
    width: 19.91667%;
  }
  .next-event p:nth-child(2), .next-event p:nth-child(3) {
    width: 11.667%;
  }
  .next-event .btn_wrapper .btn_learn {
    margin-top: 24px;
  }
  .celebrate-container {
    margin-top: 87px;
  }
  .celebrate-container .txt-celebrate {
    width: 58%;
    padding: 96px 200px 243px 137px;
  }
  .celebrate-container .txt-celebrate .txt-wrapper h1 {
    margin-top: 12px;
  }
  .celebrate-container .txt-celebrate .txt-wrapper p {
    font-size: 2.2rem;
  }
  .container-join {
    margin-top: -40px;
  }
  .container-join .join-member {
    top: 40%;
  }
  .past-container .past-performers .past-performers-txt-wrapper {
    width: 22.7%;
    padding-left: 184px;
  }
  .past-container .past-performers .past-performers-txt-wrapper p {
    line-height: 1.6;
    margin-bottom: 21px;
  }
  .past-container .past-performers .past-performers-txt-wrapper a {
    width: 168px;
    height: 60px;
  }
  .past-container .carousel-wrapper {
    right: 120px;
  }
  .carousel-controls .carousel-navigator .carousel-previous-btn {
    right: 171px;
    top: -321px;
  }
  .carousel-controls .carousel-navigator .carousel-next-btn {
    left: 171px;
    top: -321px;
  }
  .news-container {
    height: 705px;
  }
  .news-container .news-information {
    width: 80%;
  }
  .news-container .news-information [class^='info-'] {
    width: 31%;
  }
  .news-container .news-information [class^='info-'] article h2 {
    width: 65%;
  }
  .news-container .news-information .view-info {
    right: 90px;
  }
  .news-container .news-information .info-toscomusic {
    margin-right: 5px;
    margin-left: 0;
  }
  .news-container .news-information .info-schedule {
    margin-left: 20px;
    margin-right: 25px;
  }
  .news-container .news-information .info-charlottefive {
    margin-left: 0;
  }
  .subscribe-container {
    width: 89%;
    margin: 54px 11%;
    height: 189px;
  }
  .subscribe-container .subscribe h1 {
    padding-top: 27px;
  }
  .subscribe-container .subscribe p {
    font-size: 1rem;
  }
  .subscribe-container .input-subscribe {
    top: 66px;
    width: 70%;
  }
  .subscribe-container .input-subscribe .inputbox input {
    width: 370px;
    margin-right: 20px;
  }
  .subscribe-container .input-subscribe .btn-subscribe {
    width: 160px;
  }
  .subscribe-container .input-subscribe .btn-subscribe::after {
    left: 85%;
  }
  .footer {
    position: absolute;
    width: 81%;
    left: 18.9%;
    width: 84.5%;
    left: 16%;
  }
  .footer a.photo-credits {
    margin-right: 127px;
  }
  .footer p {
    padding-left: 187px;
  }
}
