@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

body{
	overflow-y: scroll;
	background: #efefef;
}

.readable-hidden{
	overflow: hidden;
	position: absolute;
	/* <shape> values */
	/* <shape> = rect(top, right, bottom, left) */
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
}

.page-header{
  position: fixed;
  height: 250px;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0.7em 0;
  background: #8cdbd6;
  background-image: url('../images/pinklayer.png'), url('../images/pinklayer-400.png');
  text-align: center;
  text-shadow: 0 8px 10px rgba(23,22,22,0.2);
  color: #fff;
  -webkit-animation: pinklayer 20s linear infinite;
  -webkit-animation-direction: reverse;
  -moz-animation: pinklayer 20s linear infinite;
  -moz-animation-direction: reverse;
  -ms-animation: pinklayer 20s linear infinite;
  -ms-animation-direction: reverse;
  animation: pinklayer 20s linear infinite;
  animation-direction: reverse;
}

.header-logo{
	margin-top: 60px;
	margin-bottom: 45px;
}

.gnb{
	margin-top: 10px;
}

.navigation li{
  font-family: 'Cabin Sketch', cursive;
  font-size: 1rem;
  margin-bottom: 10px;
  display: inline-block;
  padding-left: 15px;
}

.navigation a{
  transform: scale(1);
  transition: all .5s;
  cursor: pointer;
}

.navigation a:hover,
.navigation a:focus{
  transform: scale(1.3);
  color: #003652;
}

.navigation a{
	color: #fff;
}

.link-container{
  width: 50px;
  height: 50px;
  background: #efefef;
  background: url(../images/bars-purple.svg);
  display: inline-block;
  position: absolute;
  background-size: cover;
  top: 10px;
  right: 10px;
  border: none;
}

.page-main{
	width: 100%;
  height: 70vh;
	position: relative;
	top: 272px;
	right: 0;
	box-sizing: border-box;
}

.page-main h1{
	padding: 15px 10px;
	background: #ffcc66;
	color: #c24747;
	opacity: 0.9;
	font-family: 'Cabin Sketch', cursive;
	-webkit-mask: url(../images/mask-image.png);
	mask: url(../images/mask-image.png);
}

.page-main p{
	font-family: 'Jeju Gothic', serif;
	font-size: 1.2rem;
	padding-left: 10px;
	color: #63040b;
} 

.page-main .text-box{
	margin-left: 40px;
}

.header-section-changing{
  height: 145px;
}

.position-changing-left{
  transform: translateX(-2000px);
}

.position-changing-right{
  transform: translateX(2000px);
}

.heading-logo-changing{
  transform: scale(1.3);
  color: #fff;
}

.show-content{
  background: #003652;
  margin-top: -8px;
  font-size: 2rem;
}

@keyframes pinklayer{
	0%{background-position: 0 0, 0 0}
	50%{background-position: 250px 500px, 200px 200px}
	100%{background-position: 1000px 500px, 400px 400px}
}

@-moz-keyframes pinklayer{
	0%{background-position: 0 0, 0 0}
	50%{background-position: 250px 500px, 200px 200px}
	100%{background-position: 1000px 500px, 400px 400px}
}

@-webkit-keyframes pinklayer{
	0%{background-position: 0 0, 0 0}
	50%{background-position: 250px 500px, 200px 200px}
	100%{background-position: 1000px 500px, 400px 400px}
}

@-ms-keyframes pinklayer{
	0%{background-position: 0 0, 0 0}
	50%{background-position: 250px 500px, 200px 200px}
	100%{background-position: 1000px 500px, 400px 400px}
}

@media screen and (min-width: 768px){

  .navigation li{
  	font-size: 1.3rem;
  }

  .link-container{
    top: 55px;
    right: 110px;
  }

  .page-main h1{
  	padding: 20px 70px;
  	opacity: 1;
    position: absolute;
    top: 60px;
    left: 50px;
  }

  .text-box{
    width: 62%;
    border: 3px solid #c24747;
    box-sizing: border-box;
    padding: 40px;
    position: absolute;
    top: 135px;
    left: 22%;
    z-index: -1;
}

  .text-box p{
  	font-size: 1.4rem;
  }

  .header-section-changing{
    height: 135px;
  }

  .heading-logo-changing{
    margin-top: 0;
    transform: scale(1.3);
  }
}

@media screen and (min-width: 992px){

  .header-logo{
    margin-top: 60px;
  }

  .page-main h1{
    padding: 15px 50px;
  }

  .page-main .text-box{
    margin-left: 110px;
    width: 50%;
    top: 80px;
    left: 22%;
  }

}