body{
  position: relative;
  margin:0;
  font-family: 'Cabin Sketch', cursive;
}

.readable-hidden{
  display:none;
}

.laura-github{
  width: 100%;
  display: flex;
  justify-content: center;
}

video{
  position:absolute;
  object-fit: cover;
  top:0;
  left:0;
  height: 100vh;
  width: 100%;
  z-index:-1;
}

.text-fds{
  position: relative;
  float: left;
  width: 350px; 
  border: 1px solid #003652; 
  margin-top: 50%; 
  padding: 20px;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5;
  background: rgba(255,255,255,0.3);
}

.text-fds::before{
  content: attr(data-label);
  opacity: 1;
  transition: all 0.3s;
  transform: scale(1) translate(0);
}

.text-fds:hover::before,
.text-fds:focus::before{
  opacity: 0;
  transform: scale(1.3) translateY(-4px);
}

.text-fds:hover::after,
.text-fds:focus::after{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  bottom: 0;
  left: 0;
  right: 0;
  height:100%;
  background: rgba(255,255,255,0.3);
  content:'Click me';
  font-size: 1.5em;
  transition: margin-left 0.5s ease-out;
}